<div class="center">
	<h1>About Us</h1>
</br>
	<div class="text-block">
		<p>bARTer is an online platform for artists to trade their talents with one another without the use of money. We provide a website for artists to build their personal portfolios and make deals that exchange their talents. Our mission is to connect artists who are in need of each other's talents, while also serving as a community to support artistic collaboration. bARTr is build for anyone who is interested in creating, investing in, or promoting art.</p>
	</div>
</div>