<div class="center-page">
	<h1 >Users</h1>
	<div class="text-block">
		<% @users.each do |user| %>
			<div class="thumbnail">
				<%= image_tag user.gravatar_url %></br>
				<%= link_to user.profile_name, "/#{user.profile_name}" %>
			</div>
		<% end %>
	</div>
</div>

