/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
	margin: 0;
}

html, body {
	height: 100%
}

.center {
	margin: 50px auto;
	padding: 10px;
	width: 70%;
	background-color: #00B4B4;
	font-family: 'Lato', sans-serif; font-weight: 700;
	text-align: center;
	border-radius: 10px;
	color: white;
}


nav {
	width: 100%;
	text-align: center;

	ul {
		list-style: none;
		display: inline-table;
		position: relative;

		ul {
			display: none;
			position: absolute; top: 100%;
			padding: 0;
			border-radius: 2px;
			border-color: #FF4571;
			background-color: #00B4B4;

			li {
				float: none;
				position: relative;

				a {
					padding: 0px;
					width: 50px;
					margin: 0px;
					color: white;
				}

				a:hover {
					color: white;
					font-size: 17px;
				}
			}
		}

		li {
			padding: 0px 20px;
			display: inline-block;

			a {
				display: block;
				text-decoration: none;
				color: #00B4B4;
				font-family: 'Lato', sans-serif; font-weight: 400;
				padding: 10px 10px;
			}

			a:hover {
				color: #FF4571;
			}
		}

		li:hover > ul {
			display:block;
		}
	}

	ul:after {
		content: ""; clear: both; display: block;
	}
}




#logo {
	font-size: 30px;
	padding: 2px;
	font-family: 'Lato', sans-serif; font-weight: 700;
	color: #FF4571;
}


.text-block {
	background-color: white;
	color: black;
	text-align: justify;
	padding: 50px;

	h3 {
		color: #00B4B4;
	}
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.footer {
	height: 4em;
	background-color: #F0A400;
	ul {

		margin: 10px;
		li {
		display: inline-block;
		background-color: #FF4571;
		a {
			padding: 5px;
			color: white;
			text-decoration: none;
			font-family: 'Lato', sans-serif; font-weight: 400;
		}
	}
	}
}


.clear {
	clear: both;
}

.push {
	height: 4em;
}