/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
	margin: 0;
}

html, body {
	height: 100%
}



.center {
	margin: 50px auto;
	padding: 10px;
	width: 70%;
	background-color: #00B4B4;
	font-family: 'Lato', sans-serif; font-weight: 700;
	text-align: center;
	border-radius: 10px;
	color: white;
}

.center-page {
	width: 100%;
	font-family: 'Lato', sans-serif; font-weight: 700;
	text-align: center;
	padding: 10px;
	color: white;
	padding: 0px;
	margin: 20px auto;
	h1 {
	 width: 100%;
	 background-color: #00B4B4;
	 color: white;
	}
}

nav {
	width: 100%;
	text-align: center;
	list-style: none;
	li {
		display: inline-block;
		padding: 0px 20px;

		a {
			text-align: right;
			text-decoration: none;
			color: #00B4B4;
			font-family: 'Lato', sans-serif; font-weight: 400;
		}
	}
}

#logo {
	font-size: 30px;
	padding: 2px;
	font-family: 'Lato', sans-serif; font-weight: 700;
	color: #FF4571;
}

.links {
	ul {
		list-style: none;
		padding-left:0;
	}
	a {
		text-decoration: none;
		color: #F0A400;
		margin: 0px;
		padding: 0px;
	}

	a:hover {
		text-decoration: none;
		color: #00B4B4;
	}
}

.text-block {
	background-color: white;
	color: black;
	text-align: justify;
	padding: 50px;
	text-indent: 15px;
}

hr {
	height: 5px;
	color: #F0A400;
	background-color: #F0A400;
}

.btn {
	background-color: #FF4571;
	border-radius: 5px;
	a, a:hover{
		text-decoration: none;
		color: white;
	}
}

#banner {
	height: 60%;
	width: 100%;
}

.image {
	height: 50%;
	width: 100%;
	margin: 20px auto;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.footer {
	height: 4em;
	background-color: #F0A400;
	ul {

		margin: 10px;
		li {
		display: inline-block;
		background-color: #FF4571;
		a {
			padding: 5px;
			color: white;
			text-decoration: none;
			font-family: 'Lato', sans-serif; font-weight: 400;
		}
	}
	}
}

.clear {
	clear: both;
}

.push {
	height: 4em;
}